Repository n-hiraha/csnote.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{.js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,md,js,jsx,ts,tsx}": "prettier --write"
}

init: 環境構築
  .node-version
  .prettierignore
  .vscode/settings.json
  src/components/Card.tsx
  src/components/Container.tsx
  src/components/Header.tsx
Due: eslint --fix, prettier --write

Add: ESLintの設定を追加
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
  prettier.config.js
  src/components/ArticleLayout.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/Container.tsx
  src/components/Header.js
  src/components/Section.tsx
  src/components/SimpleLayout.tsx
  src/images/avatar.jpg
  src/images/avatar.png
  src/images/logos/var.svg
  src/lib/generateRssFeed.js
  src/lib/getAllArticles.js
  src/pages/_app.jsx
  src/pages/_document.tsx
  src/pages/about.jsx
  src/pages/index.jsx
  src/pages/projects.jsx
  src/pages/projects.tsx
  src/pages/speaking.jsx
  src/pages/speaking.tsx
  src/pages/thank-you.jsx
  src/pages/thank-you.tsx
  src/pages/uses.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Fix: Article
  Makefile
  src/pages/articles/crafting-a-design-system-for-a-multiplanetary-future/index.mdx
  src/pages/articles/docker-gcp-gae.mdx
  src/pages/articles/introducing-animaginary.mdx
  src/pages/articles/rewriting-the-cosmos-kernel-in-rust.mdx
Due: none

Fix: Favicon
  public/favicon.ico
  src/pages/articles/docker-gcp-gae.mdx
  src/pages/index.jsx
Due: eslint --fix, prettier --write

Fix: comment out
  src/components/Footer.tsx
  src/components/Header.js
Due: eslint --fix, prettier --write

Fix: env environment
  .env.example
  .gitignore
Due: none

Fix: tailwind.config.js
  tailwind.config.js
Due: prettier --write

Fix: labels
  src/components/Footer.tsx
  src/pages/articles/crafting-a-design-system-for-a-multiplanetary-future/index.mdx
  src/pages/articles/docker-gcp-gae.mdx
  src/pages/articles/index.jsx
Due: eslint --fix, prettier --write

Add: article
  src/pages/articles/atomic-design.mdx
  src/pages/articles/encryption-method.mdx
  src/pages/articles/go-tutorial.mdx
  src/pages/articles/solid-architect.mdx
Due: none

Add: features directory
  src/features/blogs/api/getBlogs.ts
  src/features/blogs/index.ts
Due: eslint --fix, prettier --write

add: Blogをgraphql-cmsから取得するよう変更
  Makefile
  next.config.js
  next.config.mjs
  package-lock.json
  package.json
  src/components/ArticleLayout.tsx
  src/components/Prose.tsx
  src/features/blogs/api/getBlog.ts
  src/features/blogs/api/getBlogs.graphql.ts
  src/features/blogs/api/getBlogs.ts
  src/lib/getAllArticles.js
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/articles/atomic-design.mdx
  src/pages/articles/crafting-a-design-system-for-a-multiplanetary-future/index.mdx
  src/pages/articles/crafting-a-design-system-for-a-multiplanetary-future/planetaria-design-system.png
  src/pages/articles/docker-gcp-gae.mdx
  src/pages/articles/encryption-method.mdx
  src/pages/articles/go-tutorial.mdx
  src/pages/articles/solid-architect.mdx
  src/pages/blogs/[slug].tsx
  src/pages/blogs/index.jsx
  src/pages/index.tsx
  src/styles/prism.css
  tailwind.config.js
Due: eslint --fix, prettier --write

add: CloudRunから環境変数を取得できるように追加
  next.config.js
Due: prettier --write

fix: refactoring
  src/components/ArticleLayout.tsx
  src/components/Prose.tsx
  src/features/blogs/api/getBlog.ts
  src/features/blogs/api/getBlogs.ts
  src/features/blogs/index.ts
  src/pages/about.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

fix: cloud runから取得できるように環境変数を追加
  next.config.js
Due: prettier --write

add: eslint workflow
  .github/workflows/ci.yml
Due: none

add: merge bot
  .github/workflows/merge-bot.yml
Due: none
